/**
 * style.css
 *
 * This is a css file for global style
 * 
 * Student Name: 
 * Student ID: 
 * Date: 
 */

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
